<footer class="bottom">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-4 col-12 bottom__space">
                <div class="bottom__content">
                    <h3 class="main">
                        About
                    </h3>
                    <ul class="bottom__list">
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Brand Protection
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Careers
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            A&F Gives Back
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Accessibility
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Diversity & Inclusion
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Press Room
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Sustainability
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            California Disclosures
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-12 bottom__space">
                <div class="bottom__content">
                    <h3 class="main">
                        Help
                    </h3>
                    <ul class="bottom__list">
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Customer Help
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            About Club Cali
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Order Help
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Shipping & Handing
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Online Returns
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Track My Order
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Cards & E-Cards
                        </a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">
                            Student Discount
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-12 bottom__space">
                <div class="bottom__content">
                    <h3 class="main">
                        Subscribe
                    </h3>
                    <form method="POST" action="#" class="contact-form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email Address" required>
                        </div>
                        <div class="bottom__button text-center">
                            <button type="submit" class="bottom__linkf">Join</button>
                        </div>
                    </form>
                    <h4 class="trend">
                        Trend With Us
                    </h4>
                    <p class="para">
                        See The Latest On Our Instagram Feed, And Connect With Us On Facebook, twitter & More
                    </p>
                    <ul class="bottom__listT">
                        <li class="bottom__itemT"><a href="#" class="bottom__linkT">
                            <svg class="bottom__icon">
                                <use xlink:href="images/symbol-defs.svg#icon-facebook2"></use>
                            </svg>
                        </a></li>
                        <li class="bottom__itemT"><a href="#" class="bottom__linkT">
                            <svg class="bottom__icon">
                                <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                            </svg>
                        </a></li>
                        <li class="bottom__itemT"><a href="#" class="bottom__linkT">
                            <svg class="bottom__icon">
                                <use xlink:href="images/symbol-defs.svg#icon-pinterest"></use>
                            </svg>
                        </a></li>
                        <li class="bottom__itemT"><a href="#" class="bottom__linkT">
                            <svg class="bottom__icon">
                                <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a></li>
                        <li class="bottom__itemT"><a href="#" class="bottom__linkT">
                            <svg class="bottom__icon">
                                <use xlink:href="images/symbol-defs.svg#icon-youtube"></use>
                            </svg>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
<script src="/js/hollister.js"></script>
</html>