<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing for Girls & Guys | Teen Clothing | Hollister Co.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/hollister-tab-logo-removebg-preview-min.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
</head>
<section class="limited">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="limited__content">
                <h5 class="limits">
                    Limited Time! Hollister Sale: Up to 50% Off
                </h5>
            </div>
        </div>
    </div>
</section>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/images/new-navbar-logo-removebg-preview-min.png" alt="new-navbar-logo-removebg-preview-min"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <div class="toggler-btn">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Guys</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Girls</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gilly Hicks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Jeans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">What we're About</a>
          </li>
        </ul>
          <ul class="nav__list ml-auto">
              <li class="nav__items"><a href="#" class="nav__links">
                <svg class="nav__icon">
                    <use xlink:href="images/symbol-defs.svg#icon-search"></use>
                </svg>
              </a></li>
              <li class="nav__items"><a href="#" class="nav__links">
                <svg class="nav__icon">
                    <use xlink:href="images/symbol-defs.svg#icon-user"></use>
                </svg>
              </a></li>
              <li class="nav__items"><a href="#" class="nav__links">    
                <svg class="nav__icon">
                    <use xlink:href="images/symbol-defs.svg#icon-shopping_bag"></use>
                </svg>
              </a></li>
          </ul>
      </div>
    </div>
  </nav>
<body>
    
