<%- include('partials/homeHeader') %>
<section class="up">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-4 col-12">
                <div class="up__content">
                    <h3 class="title">
                        Limited Time!
                    </h3>
                    <h2 class="sub">
                        Hollister Sale Up To 50% off
                    </h2>
                    <div class="up__button">
                        <a href="#" class="up__link" role="button">Shop Guys</a>
                        <a href="#" class="up__link" role="button">Shop Girls</a>
                    </div>
                    <div class="up__buttonl">
                        <a href="#" class="up__linkl" role="button">Shop gilly Hicks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gilly">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-4 col-12">
                <div class="gilly__content">
                    <div class="gilly__images">
                        <img src="/images/Gilly-hicks-Go-image-removebg-preview-min.png" alt="gilly__images">
                    </div>
                     <h2 class="mixable">
                         Mixable, matchable, mood-boosting sets 
                     </h2>
                     <div class="gilly__images">
                         <img src="/images/club-cali-member-image-min.png" alt="club-cali-member-image-min">
                     </div>
                     <p class="para">
                         Limit time! Members get <br> 2x the Points on Gilly Hicks
                     </p>
                     <div class="up__buttonl">
                        <a href="#" class="up__linkl" role="button">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gillyJ">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-4 col-12">
                <div class="gillyJ__content">
                     <h2 class="mixablej">
                        Jeans That Shred The Competition 
                     </h2>
                     <p class="para">
                         Ripped jeans never looked so good
                     </p>
                     <div class="up__button">
                        <a href="#" class="up__link" role="button">Shop Guys</a>
                        <a href="#" class="up__link" role="button">Shop Girls</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="current">
    <div class="container">
        <div class="row justify-content-end text-center">
            <div class="col-lg-5 col">
                <div class="current__content">
                    <h2 class="tees">
                        Current Vibe: <br> Sweats On Sweats
                    </h2>
                    <p class="throw">
                        The loungwear you'll be living in.
                    </p>
                    <div class="up__button">
                        <a href="#" class="up__link" role="button">Shop Guys</a>
                        <a href="#" class="up__link" role="button">Shop Girls</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pick">
    <div class="container-fluid">
        <div class="pick__content text-center">
            <h1 class="main">
                Feel-Good Styles Picked <br> out just for you:
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-12 pick__space">
                <div class="pick__content">
                    <div class="pick__images">
                        <img src="/images/patterned-logo-T-shirt-image-min.jpg" alt="patterned-logo-T-shirt-image-min">
                    </div>
                    <h4 class="title">
                        Patterned Logo T-Shirt
                    </h4>
                    <p class="para">
                      <del class="delete">$29.95</del>  $14.97
                    </p>
                  
                </div>
            </div>
            <div class="col-lg-3 col-12 pick__space">
                <div class="pick__content">
                    <div class="pick__images">
                        <img src="/images/Print-logo-Graphic-hoodie-image-min.jpg" alt="Print-logo-Graphic-hoodie-image-min">
                    </div>
                    <h4 class="title">
                        Print Logo Graphic Hoodie
                    </h4>
                    <p class="para">
                      <del class="delete">$39.95</del>  $19.98
                    </p>
                  
                </div>
            </div>
            <div class="col-lg-3 col-12 pick__space">
                <div class="pick__content">
                    <div class="pick__images">
                        <img src="/images/Cozy-Textured-knit-top-image-min.jpg" alt="Cozy-Textured-knit-top-image-min">
                    </div>
                    <h4 class="title">
                        Cozy Textured Knit Top
                    </h4>
                    <p class="para">
                      <del class="delete">$29.95</del>  $11.98
                    </p>
                  
                </div>
            </div>
            <div class="col-lg-3 col-12 pick__space">
                <div class="pick__content">
                    <div class="pick__images">
                        <img src="/images/Applique-logo-hoodie-image-min.jpg" alt="Applique-logo-hoodie-image-min">
                    </div>
                    <h4 class="title">
                        Applique Logo Hoodie
                    </h4>
                    <p class="para">
                      <del class="delete">$47.95</del>  $24.97
                    </p>
                  
                </div>
            </div>
        </div>
    </div>
</section>
<section class="club">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 club__space">
                <div class="club__content text-center">
                    <div class="club__images">
                        <img src="/images/This-Club-is-money-image-min.png" alt="club-cali-member-image-min">
                    </div>
                    <h2 class="main">
                        This Club is money.
                    </h2>
                    <div class="up__buttonl">
                        <a href="#" class="up__linkl" role="button">Join Or Sign In</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 club__space">
                <div class="club__content text-center">
                    <br>
                    <br>
                    <br>
                    <div class="club__imagesK">
                        <img src="/images/Get-it-now-pay-Later-min.png" alt="Get-it-now-pay-Later-min">
                    </div>
                    <h2 class="main">
                        Get it now. Pay later.
                    </h2>
                    <div class="up__buttonl">
                        <a href="#" class="up__linkl" role="button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 club__space">
                <div class="club__content text-center">
                    <div class="club__images">
                        <img src="/images/Free-Curbside-Pickup-image-min.png" alt="Free-Curbside-Pickup-image-min">
                    </div>
                    <h2 class="main">
                        Free Curbside Pickup
                    </h2>
                    <div class="up__buttonl">
                        <a href="#" class="up__linkl" role="button">Find Your Store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>