.current{
    margin: 1rem 0;
    padding-top: 10rem;
    background-image: url(/images/Current-vibe-start-on-bg-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 33rem;
}