.pick{
    margin: 3rem 0 3rem 0;
    &__images{
        margin-bottom: 1rem;
    }
    &__images img{
        width: 100%;
        height: 23rem;
    }
    &__space:not(:last-child){
        margin-bottom: 3rem;
    }
}
